.App {
  text-align: center;
  max-width: 80rem;
  margin:auto;
}

.content{
  display: flex;
}

.detail{
  flex:1 1 70% ;
}

.videoList{
  flex:1 1 30%;
}

@media screen and (max-width:48rem){
  .content{
    flex-flow: column;
  }
}